.accordion {
    border: none;
}

.accordion__button {
    background: #fff;
    border-radius: 24px;
    font-size: 24px;
    line-height: 130%;
    padding-left: 40px;
    position: relative;
}
.accordion__button:before {
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    transform: rotate(45deg);
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
}

.accordion__button[aria-expanded="true"],
.accordion__button[aria-selected="true"] {
    background: #B2D8FF;
}

.accordion__button[aria-expanded="true"]:before,
.accordion__button[aria-selected="true"]:before {
    transform: rotate(-135deg);
    margin-top: 0;
}

.accordion__button[aria-expanded="true"]:hover,
.accordion__button[aria-selected="true"]:hover {
    background: #ddd;
}

.accordion__item + .accordion__item {
    border: none;
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .accordion__button {
        font-size: 32px;
        padding-left: 72px;
    }

    .accordion__button:before {
        left: 30px;
        width: 15px;
        height: 15px;
        margin-top: -8px;
    }
}